<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Pláticas</h2>
        <h3 class="section-subheading text-muted">¿Te interesa saber que se hace en IA en el mundo laboral? ¿O tienes una idea para hacer una startup? ¿Evaluar la madurez de un desarrollo tecnológico? ¿O que tal integrarte en alguno de los programas de vinculación en IA que tenemos en la Universidad de Sonora?</h3>
        <h3 class="section-subheading">Todas estas pláticas se llevarán a cabo en el Auditorio del Departamento de Matemáticas, Enrique Valle Flores.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <!-- PLATICA -->
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/inagural.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Lunes 6 de octubre</h5>
                <h5 class="subheading">10:00 - 10:30</h5>
                <h4>Inauguración</h4>
                <h4></h4>
                <h4 class="subheading"></h4>
              </div>
            </div>
          </li>
          
          <!-- PLATICA -->
          <!-- o <li class="timeline-inverted"> -->
          <!-- <li> -->
          <!--   <div class="timeline-image"> -->
          <!--     <img class="img-circle img-responsive" src="img/about/mcddatos.png" alt=""> -->
          <!--   </div> -->
          <!--   <div class="timeline-panel"> -->
          <!--     <div class="timeline-heading"> -->
          <!--       <h5 class="subheading">Lunes 6 de octubre</h5> -->
          <!--       <h5 class="subheading">10:15 - 11:00</h5> -->
          <!--       <h4>TBD (Datos abiertos)</h4> -->
          <!--       <h4>Luis Javier Ortega Cisneros</h4> -->
          <!--       <h4 class="subheading">Subsecretario de Gobierno Digital</h4> -->
          <!--     </div> -->
          <!--     <div class="timeline-body"> -->
          <!--       <p class="text-muted"> -->
                  
          <!--       </p> -->
          <!--     </div> -->
          <!--   </div> -->
          <!-- </li> -->

          <!-- PLATICA -->
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/alejandro-varela.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Lunes 6 de octubre</h5>
                <h5 class="subheading">18:45 - 19:45</h5>
                <h4>Protección de Software: ¿Patente o Registro?</h4>
                <h4>Alejandro Varela Espinoza</h4>
                <h4 class="subheading">Director de Guevara Propiedad Intelectual</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  <a href="assets/alejandro-varela-espinoza-2025.pdf">Semblanza</a>
                </p>
              </div>
            </div>
          </li>

          <!-- PLATICA -->
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/chenoweth.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Martes 7 de octubre</h5>
                <h5 class="subheading">18:45 - 19:45</h5>
                <h4>Software Libre y Código Abierto</h4>
                <h4>Iván Chenoweth</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                </p>
              </div>
            </div>
          </li>

          <!-- PLATICA -->
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/movilidad.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Miércoles 8 de octubre</h5>
                <h5 class="subheading">11:00 - 13:00</h5>
                <h4>¿Qué hacemos cuando estamos fuera de casa?</h4>
                <h4>Estudiantes de la Licenciatura en Ciencias de la Computación</h4>
                <h4 class="subheading">Experiencias con programas de movilidad</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                </p>
              </div>
            </div>
          </li>

          <!-- PLATICA -->
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/betsabe.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Miércoles 8 de octubre</h5>
                <h5 class="subheading">18:45 - 19:45</h5>
                <h4>De la curiosidad a la acción: Cómo transformar técnica en valor dentro de la ciencia de datos</h4>
                <h4>Betsabé Acuña Martínez</h4>
                <h4 class="subheading">Directora ejecutiva de PhiQus Data Science</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                </p>
              </div>
            </div>
          </li>

          <!-- PLATICA -->
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/mauricio.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Jueves 9 de octubre</h5>
                <h5 class="subheading">11:00 - 12:00</h5>
                <h4>LLMs: La Ilusión de la Inteligencia</h4>
                <h4>Gerardo Mauricio Toledo Acosta</h4>
                <h4 class="subheading">Profesor investigador del Departamento de matemáticas en la UNISON</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                </p>
              </div>
            </div>
          </li>

          <!-- PLATICA -->
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/conversatorio-vinculacion.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Jueves 9 de octubre</h5>
                <h5 class="subheading">18:45 - 20:15</h5>
                <h4>Conversatorio de vinculación ¿Qué hacemos bien y qué puede mejorar?</h4>
                <h5>Betsabé Acuña Martínez, Directora ejecutiva de PhiQus Data Science</h5>
                <h5>Jorge Clayton Valmaña, Automation Manager, Global Operations, TE Connectivity</h5>
                <h5>Oscar Samuel Cortéz Moreno, Scientific Manager, ECN Automation</h5>
                <h5>Luís Javier Ortega Cisneros, Titular de la Agencia de Transformación Digital y Telecomunicaciones del Estado de Sonora</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Conversatorio con miembros de gobierno e industria.
                </p>
              </div>
            </div>
          </li>

          <!-- PLATICA -->
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/waissman.jpeg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Viernes 10 de octubre</h5>
                <h5 class="subheading">18:00 - 18:30</h5>
                <h4>La MCD en Datos</h4>
                <h4>Julio Waissman Vilanova</h4>
                <h4 class="subheading">Coordinador de la Maestría en Ciencia de Datos</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                </p>
              </div>
            </div>
          </li>

          <!-- PLATICA -->
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/conversatorio-egresados.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="subheading">Viernes 10 de octubre</h5>
                <h5 class="subheading">18:45 - 20:15</h5>
                <h4>Conversatorio ¿Cómo se ve la MCD de lejos?</h4>
                <h5>Martha Inés Juarez Cabrera, Business Intelligence Manager, Jellyfish</h5>
                <h5>Brenda Leyva Amaya, AI Engineer, Wizeline</h5>
                <h5>Ibsan Otoniel Morales Yepiz, Data Engineer, NTT Data</h5>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Conversatorio con estudiantes egresados de la Maestría en Ciencia de Datos de la primera y segunda generación.
                </p>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <!-- <div class="row"> -->
      <!--                 <div class="col-lg-12"> -->
        <!--                     <ul class="timeline"> -->
          <!--                         <li> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Lunes 4 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">11:00 a 12:00 horas</h5> -->
                <!--                                     <h4>IA sin adornos: Perspectivas desde el interior de la industria.</h4> -->
                <!--                                     <h4>Francisco Manuel Valle Ruiz</h4> -->
                <!--                                     <h4 class="subheading">AI Architect, ENCORA</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Manuel Valle es un arquitecto de soluciones de Inteligencia Artificial con más de una década resolviendo desafíos complejos para empresas con millones de usuarios y petabytes de datos. Se especializa en diseñar sistemas de IA eficientes, escalables, seguros, y en conformidad con las normativas globales de distintas industrias.</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li class="timeline-inverted"> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Lunes 4 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">18:00 a 19:00 horas</h5> -->
                <!--                                     <h4>¿Qué hace diferente a un Venture Studio?</h4> -->
                <!--                                     <h4>Oscar Medrano</h4> -->
                <!--                                     <h4 class="subheading">Growth Manager, Kolab Ventures</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Oscar Medrano cuenta con 20 años de experiencia en la creación y ejecución de estrategias de marketing, ventas y aceleración de negocios en México y Estados Unidos.  -->
                  <!-- Lidero el área de Growth en Kolab Ventures dando soporte a los fundadores en sus etapas de crecimiento con estrategias de marketing, ventas y desarrollo de su red de contactos con clientes potenciales. -->
                  <!-- ⁠Member Board del proyecto global AI Salon. ⁠Startups Mentor en StartX de la Universidad de Stanford. ⁠Startups Mentor en JETRO (Gobierno de Japón). ⁠Community Builder en Hermosillo Innovation Hub Initiative.</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Lunes 4 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">19:00 a 20:00 horas</h5> -->
                <!--                                     <h4>Innovación con Inteligencia: Tendencias de Productos de IA en México</h4> -->
                <!--                                     <h4>Preet Morato</h4> -->
                <!--                                     <h4 class="subheading">Product Manager, Kolab Ventures</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Preet Morato es Product Manager con experiencia enfocada en productos basados en ciencia de datos para startups de crecimiento acelerado en Norte y Latino América. Como "community builder" ha fundado y apoyado el desarrollo de comunidades orientadas a tecnología como wITches, Google Developers Group, Product LatAm  y AI Salon Hermosillo. Preet ha dado charlas y conferencias de product management, IA y diversidad en eventos como AI Salon, GDG Hermosillo, Congreso Proxy ITH y Gril Up México - UN Foundation.</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li class="timeline-inverted"> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Martes 5 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">11:00 a 12:00 horas</h5> -->
                <!--                                     <h4>Enabling AI Manufacturing: Introducing AI tools into high volume manufacturing processes</h4> -->
                <!--                                     <h4>Abraham Reyes</h4> -->
                <!--                                     <h4 class="subheading">Automation and AI Vision Engineer, TE Connectivity</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Ingeniero Mecánico y Maestro en Ingeniería Mecánica. Experiencia en desarrollo de proyectos de mantenimiento, sistemas automatizados y herramientas computacionales avanzadas. Sólida formación en automatización, diseño de sistemas, mantenimiento, visión artificial, técnicas computacionales y lenguajes de programación.</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Martes 5 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">18:00 a 19:00 horas</h5> -->
                <!--                                     <h4>Matemáticas e Innovación: Mi experiencia personal en Desarrollos Tecnológicos y Patentes</h4> -->
                <!--                                     <h4>Marysol Navarro</h4> -->
                <!--                                     <h4 class="subheading">Profesora Investigadora, Universidad de Sonora</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Marysol Navarro Burruel es Profesora-Investigadora de Tiempo Completo en la Universidad de Sonora, en cuya institución obtuvo sus estudios de Doctorado en Ciencias Matemáticas. Es miembro del SNI nivel I, y cuenta con el reconocimiento PRODEP desde el año 2019. Sus líneas de investigación incluyen el Análisis Matemático, Medios y Educación Matemática, así como la aplicación del Cálculo y Ecuaciones Diferenciales en Ingeniería. Ha publicado dos artículos de investigación en revistas internacionales, cuenta con una patente otorgada por el IMPI y otras solicitudes en proceso de revisión. En los últimos años, se ha enfocado en el desarrollo de tecnologías patentables con aplicaciones innovadoras, mediante la vinculación entre matemáticas e Internet de las cosas (IoT).</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li class="timeline-inverted"> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Miércoles 6 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">11:00 a 12:00 horas</h5> -->
                <!--                                     <h4>Tendencias, desafíos y oportunidades en el mercado de TI"</h4> -->
                <!--                                     <h4>Ivan Nieves</h4> -->
                <!--                                     <h4 class="subheading">IT Recruiter, Intugo</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Iván Nieves Velasco es egresado de la licenciatura en Lingüística de la Universidad de Sonora. Actualmente colabora con la empresa Intugo como parte del equipo de Reclutamiento para las áreas de tecnologías de la información, prospectando personal para empresas internacionales.</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Miércoles 6 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">18:00 a 19:00</h5> -->
                <!--                                     <h4>De la Teoría a la Práctica: Fundamentos para tu Carrera en Datos y AI</h4> -->
                <!--                                     <h4>Rodolfo Saldaña</h4> -->
                <!--                                     <h4 class="subheading">Managing Partner, Arkstem</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Con 15 años de experiencia, Rodolfo ha sido pionero en la digitalización de México. Desde consultoras globales hasta startups, ha impulsado la transformación digital y el talento mexicano. Hoy, lidera una empresa de servicios de datos utilizando Databricks.</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li class="timeline-inverted"> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Miércoles 6 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">19:00 a 20:00 horas</h5> -->
                <!--                                     <h4>Talento Mexicano; la clave del nearshoring</h4> -->
                <!--                                     <h4>Francisco Coss</h4> -->
                <!--                                     <h4 class="subheading">CEO, Orbitware</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Francisco tiene 20 años de experiencia brindando soluciones a empresas líderes en su ramo basadas en innovación tecnológica para los mercados mexicano y americano.</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <img class="img-circle img-responsive" src="img/about/person.png" alt=""> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Jueves 7 de noviembre</h5> -->
                <!--                                     <h5 class="subheading">11:00 a 12:00</h5> -->
                <!--                                     <h4>Hablemos de Inteligencia de datos</h4> -->
                <!--                                     <h4>Diana Ballesteros</h4> -->
                <!--                                     <h4 class="subheading">Directora General de Inteligencia de Datos, Gobierno del Estado de Sonora</h4> -->
                <!--                                 </div> -->
              <!--                                 <div class="timeline-body"> -->
                <!--                                     <p class="text-muted">Estudió Licenciatura en Ciencias de la Computación y Maestría en Ciencia de Datos, actualmente Directora General de Inteligencia de Datos. Posee amplia experiencia en ciencia y análisis de datos, inteligencia de datos, programación e inteligencia artificial.</p> -->
                <!--                                 </div> -->
              <!--                             </div> -->
            <!--                         </li> -->
          <!--                         <li class="timeline-inverted"> -->
            <!--                             <div class="timeline-image"> -->
              <!--                                 <h4>Mesa -->
                <!--                                     <br>de -->
                <!--                                     <br>Dialogo</h4> -->
              <!--                             </div> -->
            <!--                             <div class="timeline-panel"> -->
              <!--                                 <div class="timeline-heading"> -->
                <!--                                     <h5 class="subheading">Jueves 7 de noviembre</h4> -->
<!--                                     <h5 class="subheading">18:00 a 20:00 horas</h4> -->
<!--                                     <h4>El impacto de la inteligencia artificial en tu trabajo</h4> -->
<!--                                 </div> -->
<!--                                 <div class="timeline-body"> -->
  <!--                                     <p class="text-muted"><b>Carlos Briceño</b> (Subdirector Transformación Digital, Koval), <b>Luís Armando Moreno</b> (Director General de Auditoría de Desempeño, ISAF),<b>Daniel Rivera</b> (Director, Macrodata), <b>Manuel Valle</b> (Arquitecto de IA, Encora).</p> -->
  <!--                                 </div> -->
<!--                             </div> -->
<!--                         </li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--             </div> -->
</div>
</section>

<section id="calendar" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Horarios</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <img src="img/horarios.png" alt="Horarios" class="img-responsive img-centered">
      </div>
    </div>
  </div>
</section>
