<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://www.unison.mx">
                        <img src="img/logos/escudo.jpg" class="img-responsive img-centered" alt="UNISON" width="75">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://cc.unison.mx">
                        <img src="img/logos/logo-lcc.jpg" class="img-responsive img-centered" alt="LCC/UNISON">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://mcd.unison.mx">
                        <img src="img/logos/logo-mcd.jpg" class="img-responsive img-centered" alt="MCD/UNISON">
                    </a>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <a href="https://fi-cen.unison.mx">
                        <img src="img/logos/ojo.jpg" class="img-responsive img-centered" alt="FICEN" width="75">
                    </a>
                </div>
            </div>
        </div>
    </aside>
